# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtualenv
venv/
ENV/
.env
.env.*

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Test & Coverage
htmlcov/
.tox/
.nox/
.coverage
.cache
.pytest_cache/

# Jupyter
.ipynb_checkpoints

# Github Actions
/.github/workflows/*.log

# 기타
*.log
*.sqlite3 